:root {
  --text-color: #828282;
  --heading-color: #4F4F4F;
  --sub-heading-color: #333333;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  /* Global container to hold all element in grid box display*/
}

body .global_container {
  padding: 3% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .01fr;
      grid-template-columns: .01fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto auto;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
      grid-template-areas: "owner" "blog" "skills" "how-to" "experiences" "hobbies" "projects" "counters";
  /* My profile section */
  /* my blog section in slideshow format */
  /* My skills display section */
  /*How to organize css section*/
  /* Experience Section */
  /*hobbies section*/
  /*Projects count*/
  /*cOUNT SECTION*/
}

body .global_container .user_profile_section {
  background: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: owner;
  padding: 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 5px 10px -1px #e0e0e0;
          box-shadow: 2px 5px 10px -1px #e0e0e0;
}

body .global_container .user_profile_section .user_details {
  text-align: left;
  padding-left: 1.5em;
}

body .global_container .user_profile_section .user_details .name {
  line-height: .5;
}

body .global_container .user_profile_section .user_details .name h3 {
  font-size: 1.2rem;
  color: var(--heading-color);
}

body .global_container .user_profile_section .user_details .name p {
  font-size: 1.2rem;
  color: var(--text-color);
}

body .global_container .user_profile_section .user_details .contact {
  margin-top: 2.5em;
}

body .global_container .user_profile_section .user_details .contact .contact_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin-top: .5em;
}

body .global_container .user_profile_section .user_details .contact .contact_box p {
  margin-top: -.1em;
  font-size: 1rem;
  color: var(--heading-color);
}

body .global_container .user_profile_section .user_details .contact .phone {
  margin-top: -.5em;
}

body .global_container .user_profile_section .user_details .user_desc p {
  color: var(--text-color);
  font-size: 1.2rem;
}

body .global_container .blog_section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: blog;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

body .global_container .blog_section .blog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  width: 300%;
  position: relative;
  margin: 0;
  left: 0;
  -webkit-animation: slider 20s infinite;
          animation: slider 20s infinite;
}

body .global_container .blog_section .blog_list .blog_block {
  padding: 40px 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 5px 10px -1px #e0e0e0;
          box-shadow: 2px 5px 10px -1px #e0e0e0;
  background: #ffffff;
  width: 33.3%;
  float: left;
}

body .global_container .blog_section .blog_list .blog_block .blog_details {
  text-align: left;
  padding-left: 1.5em;
}

body .global_container .blog_section .blog_list .blog_block .blog_details .lang_title p {
  font-size: 1rem;
  color: var(--text-color);
}

body .global_container .blog_section .blog_list .blog_block .blog_details .lang_title .title {
  font-size: 1.2rem;
  color: var(--heading-color);
}

body .global_container .blog_section .blog_list .blog_block .blog_details .button {
  white-space: nowrap;
}

body .global_container .blog_section .blog_list .blog_block .blog_details .button .demo-code {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 20px;
  padding: .4em 0;
  border-radius: 10px;
  border: 1px solid #2F80ED;
  outline: none;
  background-color: #d8e3f1;
  font-size: 1rem;
  margin-top: 1em;
  color: #2F80ED;
  margin-right: .2em;
}

body .global_container .blog_section .blog_list .blog_block .blog_details .button .demo-code:hover {
  background: #2F80ED;
  color: #f2f2f2;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
}

body .global_container .skills_section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: skills;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  -webkit-box-shadow: 2px 5px 10px -1px #e0e0e0;
          box-shadow: 2px 5px 10px -1px #e0e0e0;
}

body .global_container .skills_section .skill_box {
  text-align: left;
  padding-left: 1.5em;
}

body .global_container .skills_section .skill_box h3 {
  font-size: 1.3rem;
  color: var(--heading-color);
}

body .global_container .skills_section .skill_box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -1.5em;
}

body .global_container .skills_section .skill_box .item p {
  font-size: 1rem;
  color: var(--text-color);
  gap: 1em;
  display: inline;
}

body .global_container .skills_section .skill_box .item .progress {
  width: 70%;
  min-width: 200px;
  height: 12px;
  background: #c5c5c5;
  border-radius: 5px;
  overflow: hidden;
}

body .global_container .skills_section .skill_box .item .progress .progress_fill {
  width: 55%;
  height: 100%;
  background: #2F80ED;
}

body .global_container .skills_section .skill_box .item .progress .progress_fill span {
  font-size: x-small;
  font-weight: 800;
  float: right;
  color: #333333;
}

body .global_container .skills_section .skill_box .item .progress .js-fill {
  width: 75%;
}

body .global_container .skills_section .skill_box .item .progress .css-fill {
  width: 85%;
}

body .global_container .skills_section .skill_box .item .progress .vue-fill {
  width: 40%;
}

body .global_container .skills_section .skill_box .item .progress .redux-fill {
  width: 45%;
}

body .global_container .skills_section .skill_box .item .progress .native-fill {
  width: 35%;
}

body .global_container .how_to_section {
  background: #ffffff;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: how-to;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 10px -1px #e0e0e0;
          box-shadow: 2px 5px 10px -1px #e0e0e0;
}

body .global_container .how_to_section .how_to_block .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}

body .global_container .how_to_section .how_to_block .title h2 {
  font-size: 2rem;
  color: var(--heading-color);
}

body .global_container .how_to_section .how_to_block .how_to_details {
  margin-top: 2em;
  text-align: left;
  padding-left: 1.5em;
}

body .global_container .how_to_section .how_to_block .how_to_details p {
  font-size: 1rem;
  color: var(--text-color);
}

body .global_container .how_to_section .how_to_block div {
  text-align: left;
  padding-left: 1.5em;
}

body .global_container .how_to_section .how_to_block div .more {
  background: linear-gradient(190deg, #2F80ED, #646464);
  display: inline-block;
  width: 140px;
  padding: 12px 10px;
  outline: none;
  border: 0;
  border-radius: 10px;
  color: #f2f2f2;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

body .global_container .how_to_section .how_to_block div .more img {
  display: none;
  -webkit-transform: translate(50%, 20%);
          transform: translate(50%, 20%);
}

body .global_container .how_to_section .how_to_block div .more:hover img {
  display: inline-block;
}

body .global_container .how_to_section .how_to_block div .more:hover {
  width: 160px;
}

body .global_container .experiences {
  background: #ffffff;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: experiences;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 10px -1px #e0e0e0;
          box-shadow: 2px 5px 10px -1px #e0e0e0;
  padding: 15px;
}

body .global_container .experiences .experience_container {
  text-align: left;
  padding-left: 2em;
}

body .global_container .experiences .experience_container h3 {
  font-size: 1.5rem;
  color: var(--heading-color);
}

body .global_container .experiences .experience_container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
  margin-top: -8em;
}

body .global_container .experiences .experience_container .content .details {
  margin-top: 8em;
}

body .global_container .experiences .experience_container .content .details p {
  font-size: 1rem;
  color: var(--text-color);
}

body .global_container .experiences .experience_container .content .details h4 {
  font-size: 1.2rem;
  color: var(--sub-heading-color);
  margin-top: -.5em;
}

body .global_container .hobbies {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: hobbies;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 10px -1px #e0e0e0;
          box-shadow: 2px 5px 10px -1px #e0e0e0;
  padding: 15px;
}

body .global_container .hobbies .hobbies_container {
  text-align: left;
  padding-left: 1.5em;
}

body .global_container .hobbies .hobbies_container h3 {
  font-size: 1.5rem;
  color: var(--heading-color);
}

body .global_container .hobbies .hobbies_container .hobbies_list .hobbies_desc p {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: -1em;
}

body .global_container .hobbies .hobbies_container .hobbies_list .hobbies_desc h4 {
  font-size: 1.2rem;
  color: var(--sub-heading-color);
}

body .global_container .project_section {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: projects;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 10px -1px #e0e0e0;
          box-shadow: 2px 5px 10px -1px #e0e0e0;
  text-align: left;
}

body .global_container .project_section .project_container {
  margin-top: -1.5em;
  margin-left: 1.2em;
}

body .global_container .project_section .project_container p {
  font-size: 1.2em;
  color: var(--text-color);
}

body .global_container .project_section .project_container .project_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin-top: -1.5em;
}

body .global_container .project_section .project_container .project_list .button {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 55px;
  height: 20px;
  padding: .3em 0;
  border-radius: 10px;
  border: 0.1px solid var(--sub-heading-color);
  outline: none;
  font-size: 1rem;
  margin-top: 1em;
  cursor: pointer;
  color: var(--sub-heading-color);
}

body .global_container .project_section .project_container .project_list .odd {
  width: 120px;
  padding: .4em;
}

body .global_container .project_section .project_container .project_list .clicked {
  background: #2F80ED;
  color: #f2f2f2;
  border: .1px solid #2F80ED;
}

body .global_container .count_section {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: counters;
}

body .global_container .count_section .number_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  float: right;
}

body .global_container .count_section .number_list .number {
  border: 1px solid var(--sub-heading-color);
  padding: .3em;
  width: 1.2em;
  height: 1em;
  color: var(--sub-heading-color);
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

body .global_container .count_section .number_list .clicked {
  background: #2F80ED;
  color: #f2f2f2;
  border: .1px solid #2F80ED;
}

body .global_container .count_section .number_list .dots {
  font-weight: bold;
}

body .credit {
  text-align: center;
  white-space: nowrap;
}

body .credit p {
  font-size: 1rem;
  color: var(--text-color);
}

body .credit p a {
  color: #4F4F4F;
  font-weight: 700;
}

/* start of media query for 500px above */
@media only screen and (min-width: 500px) {
  body .global_container .user_profile_section .user_details {
    padding-left: 0;
  }
  body .global_container .user_profile_section .user_details .contact {
    margin-top: 2em;
  }
  body .global_container .user_profile_section .user_details .contact .contact_box p {
    margin-top: -.1em;
    font-size: 1.2rem;
    color: var(--heading-color);
  }
  body .global_container .blog_section .blog_list .blog_block .blog_details {
    text-align: left;
    padding-left: 0;
  }
  body .global_container .blog_section .blog_list .blog_block .blog_details .lang_title p {
    font-size: 1.2rem;
  }
  body .global_container .blog_section .blog_list .blog_block .blog_details .button .demo-code {
    width: 120px;
    font-size: 1.2rem;
  }
  body .global_container .skills_section .skill_box {
    text-align: left;
    padding-left: 0;
  }
  body .global_container .skills_section .skill_box .item p {
    font-size: 1.2rem;
    color: var(--text-color);
    gap: 1em;
    display: inline;
  }
  body .global_container .how_to_section .how_to_block .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .global_container .how_to_section .how_to_block .title h2 {
    font-size: 2rem;
    color: var(--heading-color);
  }
  body .global_container .how_to_section .how_to_block .how_to_details {
    text-align: left;
    padding-left: 0;
  }
  body .global_container .how_to_section .how_to_block .how_to_details p {
    font-size: 1.2rem;
    color: var(--text-color);
  }
  body .global_container .how_to_section .how_to_block div {
    text-align: left;
    padding-left: 0;
  }
  body .global_container .experiences .experience_container {
    text-align: left;
    padding-left: 0;
  }
  body .global_container .experiences .experience_container .content .details p {
    font-size: 1.2rem;
  }
  body .global_container .hobbies .hobbies_container {
    text-align: left;
    padding-left: 0;
  }
  body .global_container .hobbies .hobbies_container .hobbies_list .hobbies_desc p {
    font-size: 1.2rem;
  }
  body .global_container .project_section {
    padding: 15px;
  }
  body .global_container .project_section .project_container {
    margin-left: 0;
  }
  body .global_container .project_section .project_container .project_list .button {
    width: 90px;
    height: 20px;
  }
  body .global_container .project_section .project_container .project_list .odd {
    width: 130px;
  }
}

/* End of media query for 500px above */
@media only screen and (min-width: 1170px) {
  body {
    padding: 0 20%;
  }
  body .global_container {
    -ms-grid-columns: .5fr .5fr;
        grid-template-columns: .5fr .5fr;
    -ms-grid-rows: 340px auto auto auto auto auto auto;
        grid-template-rows: 340px auto auto auto auto auto auto;
    row-gap: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "owner owner" "skills how-to" "hobbies how-to" "hobbies experiences" "hobbies experiences" "projects projects" "blog blog" ". counters";
  }
  body .global_container .user_profile_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3em;
  }
  body .global_container .user_profile_section .user_details .name_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2em;
    white-space: nowrap;
  }
  body .global_container .user_profile_section .user_details .name_contact .contact {
    margin-top: 0;
    padding-right: 1em;
  }
  body .global_container .blog_section {
    height: auto;
  }
  body .global_container .blog_section .blog_list .blog_block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2em;
  }
  body .global_container .how_to_section .how_to_block .title {
    margin-top: 1em;
  }
  body .global_container .how_to_section .how_to_block div {
    text-align: left;
    margin-top: 5em;
  }
}
/*# sourceMappingURL=main.css.map */